<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Model" value="https://pkgs.dev.azure.com/anujprasad-AZ-Test-Org/12676cc3-f334-4b90-853d-9b6efd3955fa/_packaging/Tailspin.SpaceGame.Web.Model/nuget/v3/index.json" />
  </packageSources>
</configuration>