<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Model" value="https://pkgs.dev.azure.com/AnujPrasad-Test-Org/3a365558-b549-476e-9aec-6a8c4d1cf22d/_packaging/Tailspin.SpaceGame.Web.Model/nuget/v3/index.json" />
  </packageSources>
</configuration>